<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 文件上传配置 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 请求编码格式 -->
        <property name="defaultEncoding" value="utf-8"></property>
        <!-- 上传文件大小(单位:字节) -->
        <property name="maxUploadSize" value="50000000"></property>
        <!-- 缓冲区大小(单位:KB) -->
        <property name="maxInMemorySize" value="10240"></property>
    </bean>

</beans>